
Cynde.egg-info/PKG-INFO
Cynde.egg-info/SOURCES.txt
Cynde.egg-info/top_level.txt
*.pyc
Cynde.egg-info/dependency_links.txt
*.jsonl
*.ndjson
*.parquet
*.lock
/build/*
/cache/*
/cynde_mount/*
.DS_Store
/.venv
.env
.env
